<div class="flex justify-between items-center h-[36px] ">
    <ul class="flex menu text-[12px] justify-center items-center" >
        <li><a href="">首页</a></li>
        <li><a href="">消费者业务网站</a></li>
        <li><a href="">优购码</a></li>
        <li><a href="">企业商用</a></li>
        <li><a href="">Select Region</a></li>
        <li><a href="">更多精彩</a></li>
    </ul>
    <ul class="flex menu text-[12px] justify-center items-center">
        <li><a href="">请登录 注册</a></li>
        <li><a href="">我的订单</a></li>
        <li><a href="">客服</a></li>
        <li><a href="">网站导航</a></li>
        <li><a href="">手机版</a></li>
        <li><a [routerLink]="'/shopcar'">购物车</a></li>
    </ul>
</div>
